@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  html {
    @apply scroll-smooth overflow-x-hidden font-mono antialiased;
  }
  body {
    @apply overflow-x-hidden relative bg-[#D3D5D7];
  }
  section {
    @apply bg-no-repeat bg-cover bg-center lg:bg-fixed mx-1 my-2;
  }

  button {
    @apply bg-[#A30000]  py-2 flex justify-center items-center px-5 rounded-lg border-2 border-[#FFD639] font-bold text-[#FFD639];
  }

  h1 {
    @apply text-4xl font-bold text-[#231F20];
  }
  h2 {
    @apply text-3xl font-bold text-[#231F20];
  }
  h3 {
    @apply text-2xl font-bold text-[#231F20];
  }
  nav {
    @apply bg-transparent absolute top-0 left-0 lg:relative lg:w-[300vw];
  }
}

@media (min-width: 1536px) {
  .\32xl\:containers {
    width: 100%;
  }
}
@media (min-width: 1536px) {
  @media (min-width: 640px) {
    .\32xl\:containers {
      max-width: 640px;
    }
  }
}
@media (min-width: 1536px) {
  @media (min-width: 768px) {
    .\32xl\:containers {
      max-width: 768px;
    }
  }
}
@media (min-width: 1536px) {
  @media (min-width: 1024px) {
    .\32xl\:containers {
      max-width: 1024px;
    }
  }
}
@media (min-width: 1536px) {
  @media (min-width: 1280px) {
    .\32xl\:containers {
      max-width: 1280px;
    }
  }
}
@media (min-width: 1536px) {
  @media (min-width: 1536px) {
    .\32xl\:containers {
      max-width: 2000px;
    }
  }
}


::-webkit-scrollbar{
  display: none;
}

::-webkit-scrollbar-track{
  width: 0px;
}

::-webkit-scrollbar-thumb{
  width: 0;
  display: none;
}